@import "../../../variables";

app-bidding-journal{
  margin: 0 auto;
  display: block;
  height: 80vh;
  overflow: auto;
  width: fit-content;
}

/* Width of the scrollbar */
app-bidding-journal::-webkit-scrollbar {
  width: 6px;
}

/* Track (background of scrollbar) */
app-bidding-journal::-webkit-scrollbar-track {
  background: $main-color;
  border-radius: 8px;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

/* Thumb (the draggable part) */
app-bidding-journal::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: 8px;
}

/* Thumb on hover */
app-bidding-journal::-webkit-scrollbar-thumb:hover {
  background: $accent-color-hover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.about {
  background-color: $main-color;
  color: #e9f1f7;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 26vh;
}

.heading h1 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 8px;
  border-bottom: 4px solid #e98a15;
}

.heading p {
  width: 70%;
  margin: 0 auto;
}

.data {
  width: fit-content;
  padding: 16px 32px;
  margin: 0 auto;
}

.data ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  justify-items: center;
}

.lot-preview {
  padding: 1% 3% 2% 3%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: #253b2d;
}

.lot-preview h2 {
  text-align: center;
  width: fit-content;
  height: fit-content;
  color: #e9f1f7;
  margin: 0 auto;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #253b2d;
}

.join {
  background-color: #253b2d;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.join button {
  width: 70%;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.lot-view-header {
  padding: 10px 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 15% 1fr 15%;
  color: #131619;
  width: 60%;
  margin: 0 auto;
}

.lot-view-header h2,
.bidding-journal-header h2 {
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  font-weight: bold;
  font-size: 22px;
}

.lot-view-mode {
  margin-left: auto;
  right: 0;
  display: flex;
  gap: 10px;
}

.mode-button {
  width: 70px;
  height: 40px;
}

.bidding-journal {
  background-color: #253b2d;
  position: relative;
}

.bidding-journal-header h2 {
  color: #e9f1f7;
}

.bidding-journal-header {
  height: 60px;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
}

.display-container {
  align-content: center;
}

.lots{
  min-height: 64vh;
  padding-bottom: 60px;
}

.bidding-journal-footer{
  background-color: $main-color-active;
  color: $text-white;
  padding: 20px 40px;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50%;
}