<div class="wrapper">
  @if(auction){
  <section class="about">
    <div class="heading">
      <h1>{{ auction.name }}</h1>
      <p>{{ auction.description }}</p>
      <div class="data">
        <ul>
          <li>Duration: {{ auction.duration }} min</li>
          <!-- make it show leftower time in real-time -->
          <li>Owner: {{ auction.ownerId }}</li>
          <!-- link to user acc -->
          <li>Start: {{ auction.startTimestamp }}</li>
          <li>Status: {{ auction.status }}</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- @if(lots){
  <section class="lot-preview">
    <h2>Lot preview</h2>
    <app-lot-preview [lots]="lots" />
  </section>
  } -->
  <!-- <section class="join">
      <button (click)="joinAuction()" class="button-green">Join auction</button>
  </section> -->
  <section class="lots">
    <div class="lot-view">
      <div class="lot-view-header">
        <div></div>
        <h2>Lot view</h2>
        <div class="lot-view-mode">
          <button class="button-green mode-button" (click)="showTable()">
            Grid
          </button>
          <button class="button-green mode-button" (click)="showSingle()">
            1 by 1
          </button>
        </div>
      </div>
      @if(tableView){
      <app-lot-table />
      } @else{
      <app-lot-carousel-single [lots]="lots" />
      }
    </div>
  </section>
  <section class="bidding-journal"></section>
  } @else {
  <section class="no-auction">No auction</section>
  }
</div>
