<div class="wrapper">
    @if(auction){
        <section class="auction-info screen">
                <div class="heading">
                    <h1>{{ auction.name }}</h1>
                </div>
                <div class="auction-content">
                    <div class="data">
                        <ul>
                        <li><span>Description: </span> {{ auction.description }}</li>
                        <li><span>Duration: </span>{{ auction.duration }}</li>
                        <li><span>Start: </span> {{ auction.startTimestamp | date:"dd/MM/yyyy 'at' HH:mm"}}</li>
                        <li><span>Status: </span>{{ auction.status }}</li>
                        </ul>
                        <button class="icon-button" (click)="openAuctionModal()">
                            <app-icon name="edit" [color]="Color.TEXT_WHITE" [size]="24"></app-icon>
                        </button>
                    </div>
                    <div class="auction-lots">
                        <app-auction-lots [auctionId]="auction.id"></app-auction-lots>
                    </div>
                </div>
                <div class="auction-control-panel">
                    <div class="button-group">
                        @if(auctionStatusHelper.isCreated(auction)){
                            <button (click)="changeAuctionStatus(AuctionStatus.STARTED)">Start Auction</button>
                        } @else if(auctionStatusHelper.isPaused(auction)){
                            <button (click)="changeAuctionStatus(AuctionStatus.STARTED)">Resume Auction</button>
                        } @else if(auctionStatusHelper.isActive(auction)) {
                            <button (click)="changeAuctionStatus(AuctionStatus.PAUSED)">Pause Auction</button>
                        }

                        @if(auctionStatusHelper.isActive(auction) || auctionStatusHelper.isPaused(auction)){
                            <button (click)="changeAuctionStatus(AuctionStatus.ENDED)">Finish Auction</button>
                        } @else {
                            <button (click)="deleteAuction()">Delete Auction</button>
                        }
                    </div>
                    <div class="stats-group">
                        <p>Participants: {{paricipants}}</p>
                        <p>Total collected: {{totalCollected}}</p>
                        <p>Time remaining: {{timeRemaining | date:'HH:mm:ss'}}</p>
                    </div>
                </div>
        </section>
        @if(isModalVisible){
            <app-auction-form-modal [accountId]="auction.ownerId" [auction]="auction" (close)="hideAuctionModal()" (save)="reloadAuction()"/>
        }

    } @else {
        <div>
            No auction
        </div>
    }

</div>
