@import "../../../variables";

header {
  background-color: $main-color;
  color: $text-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px;
  height: 10vh;
  // border-bottom: 4px solid #E98A15;
}

#logo {
  display: flex;
  gap: 20px;
  font-size: 24px;
}

nav ul {
  font-size: 18px;
  display: flex;
  gap: 15px;
  list-style-type: none;
}

nav ul a {
  color: $text-white;
  padding: 8px 15px;
  border-radius: 5px;
}

nav ul a:hover {
  background-color: #395a45;
}

nav ul a:active {
  background-color: #4d795d;
}
