<header>
  <div id="logo">
    <div>Logo block</div>
    <div>BidNest</div>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      @if(authService.currentUser() !== null && authService.currentUser() !== undefined){
        <li><a routerLink="/auctions">Auctions</a></li>
        <li ><a routerLink="/lots">Lots</a></li>
        <li><a [routerLink]="'/accounts/' + authService.currentUser()?.id ">My Account</a></li>
      } @else {
        <li><a routerLink="/login">Log In</a></li>
      }
    </ul>
  </nav>
</header>
