<div class="wrapper">
  <div class="login-block">
    <h1>User Login</h1>
    <form class="login-form">
      <div class="login-form-input-group">
        <label for="email">Email Address</label>
        <input class="form-input-green" id="email" type="email" placeholder="Enter email" />
      </div>
      <div class="login-form-input-group">
        <label for="password">Password</label>
        <input class="form-input-green" id="password" type="password" placeholder="Enter password" />
      </div>
      <div class="button-group">
        <button (click)="submit()" class="button-green sign-in-btn">Login</button>
        <p class="register-text">
          Don't have an account? <a routerLink="/register" class="register-link"
            > Sign up</a
          >
        </p>
      </div>
    </form>
  </div>
</div>
