<div class="wrapper">
  <div class="login-block">
    <h1>User Login</h1>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="login-form-input-group">
        <label for="email">Email Address</label>
        <input
          class="form-input-green"
          id="email"
          type="email"
          placeholder="example@mail.com"
          formControlName="login"
        />
      </div>
      <div class="login-form-input-group">
        <label for="password">Password</label>
        <input
          class="form-input-green"
          id="password"
          type="password"
          placeholder="●●●●●●●●"
          formControlName="password"
        />
      </div>
      <div class="button-group">
        <button [disabled]="loginForm.invalid" class="button-green sign-in-btn">
          Login
        </button>
        @if(loginForm.get("login")?.dirty && loginForm.get("password")?.dirty &&
        loginForm.invalid){
        <p class="form-error-message">* All fields are required</p>
        }
        <p class="register-text">
          Don't have an account?
          <a routerLink="/register" class="register-link"> Sign up</a>
        </p>
      </div>
    </form>
  </div>
</div>
