<div class="wrapper">
  <div class="lots-block">
    <div>
      <div class="heading">
        <h1>Lots</h1>
      </div>
      <div class="filter-block">
        <form class="filter-form" [formGroup]="filterForm">
          <div class="form-group">
            <label>Search:</label>
            <input class="form-input-green"
                   formControlName="searchName"
                   placeholder="Enter lot name" />
          </div>
          <div class="form-group">
            <label>Status:</label>
            <select class="form-input-green" 
                    formControlName="filterStatus" >
              <div>
                <option>All</option>
                <option>SOLD</option>
                <option>AWAITING_AUCTION</option>
                <option>CURRENTLY_AUCTIONED</option>
              </div>
            </select>
          </div>
          <div class="form-group">
            <label for="sort-by">Order by:</label>
            <select name="sort-by" 
                    class="form-input-green"
                    formControlName="sortBy" >
              <div>
                <option>Name</option>
                <option>Price</option>
              </div>
            </select>
          </div>
          <div class="form-group">
            <label for="sort-dir">Sort direction:</label>
            <select name="sort-dir" 
                    class="form-input-green"
                    formControlName="sortDir" >
              <div>
                <option>asc</option>
                <option>desc</option>
              </div>
            </select>
          </div>
          <div class="btn-group">
            <button class="button-green" type="reset">Reset</button>
          </div>
        </form>
      </div>
      <div class="lots-list texture-background">
        @for(lot of processedLots(); track lot.id){
          <app-lot-card [lot]="lot"/>
        }
      </div>
    </div>
  </div>
</div>
