<table class="bidding-journal-table">
    <thead class="bidding-journal-table-header">
        <tr>
            <th class="bidding-journal-column-header">Name</th>
            <th class="bidding-journal-column-header">Lot</th>
            <th class="bidding-journal-column-header center">Amount</th>
            <th class="bidding-journal-column-header center">Time</th>
        </tr>
    </thead>
    <tbody>
        @for (bid of bids; track bid.id) {
            <tr class="bidding-journal-row">
                <td class="bidding-journal-cell">{{ bid.accountName }}</td>
                <td class="bidding-journal-cell">{{ bid.lotName }}</td>
                <td class="bidding-journal-cell center">{{ bid.amount }} {{ bid.currency }}</td>
                <td class="bidding-journal-cell center">{{ bid.timeCreated | date:"dd/MM/yyyy 'at' HH:mm" }} </td>
            </tr>
        }
    </tbody>
</table>