<table class="bidding-journal-table">
    <thead class="bidding-journal-table-header">
        <tr>
            <th class="bidding-journal-column-header">Name</th>
            <th class="bidding-journal-column-header">Lot</th>
            <th class="bidding-journal-column-header">Amount</th>
            <th class="bidding-journal-column-header">Time</th>
        </tr>
    </thead>
    <tbody>
        @for (bid of bids; track bid.id) {
            <tr>
                <td>{{ bid.accountName }}</td>
                <td>{{ bid.lotName }}</td>
                <td>{{ bid.amount }} {{ bid.currency }}</td>
            </tr>
        }
    </tbody>
</table>