<table class="bidding-journal-table">
    <thead class="bidding-journal-table-header">
        <tr>
            <th class="bidding-journal-column-header top-left">Name</th>
            <th class="bidding-journal-column-header">Lot</th>
            <th class="bidding-journal-column-header center">Amount</th>
            <th class="bidding-journal-column-header center top-right">Time</th>
        </tr>
    </thead>
    <tbody>
        @for (bid of bids; track bid.id) {
            <tr class="bidding-journal-row">
                <td class="bidding-journal-cell top-left">{{ bid.accountName }}</td>
                <td class="bidding-journal-cell">{{ bid.lotName }}</td>
                <td class="bidding-journal-cell center">{{ bid.amount }} {{ bid.currency }}</td>
                <td class="bidding-journal-cell center">{{ bid.timeCreated }}</td>
            </tr>
        }
    </tbody>
</table>