<div class="wrapper">
    @if(account){
        <section class="account-info screen">
            <section class="about">
                <div class="heading">
                    <h1>{{ account.username }}</h1>
                    <div class="data">
                        <ul>
                        <li><span>Name: </span> {{ account.name }}</li>
                        <li><span>Surname: </span>{{ account.surname }}</li>
                        <li><span>Age: </span>`age` ({{ account.dob }})</li>
                        <li><span>Gender: </span>{{ account.gender }}</li>
                        <li><span>Email: </span>{{ account.email }}</li>
                        <li><span>Role: </span>{{ account.role }}</li>
                        </ul>
                        <button class="icon-button" (click)="openAccountModal()">
                            <app-icon name="edit" [color]="Color.TEXT_WHITE" [size]="24"></app-icon>
                        </button>
                    </div>
                </div>
                <div class="account-auctions">
                    <app-account-auctions [accountId]="account.id"/>
                </div>
                <div>
                    <button (click)="logout()">Logout</button>
                </div>
            </section>
        </section>
        @if(isModalVisible){
            <app-account-form-modal [account]="account" (close)="hideAccountModal()" (save)="reloadInfo()"/>
        }
    } @else {
        <div>
            No account
        </div>
    }

</div>
