<div class="wrapper">
  <section class="about">
    <img class="about-bckg" src="../../../assets/images/wall.png"/>
    <div class="about-info">
      <div class="text-block">
        <h1>BidNest: Where Bidding Begins!</h1>
        <p>
          Turn your items into exciting auctions in minutes! BidNest empowers
          you to create and manage auctions with ease, connecting you with a
          dynamic community of bidders. Whether you’re selling rare collectibles
          or everyday items, BidNest offers a simple, interactive platform for
          hosting, tracking, and engaging in real-time auctions — no payment
          processing required.
        </p>
        <div class="links">
          <a routerLink="/login" class="btn button-green action-button">Get started</a>
          <a routerLink="/auctions" class="btn button-green guest-button"
            >Start without account</a
          >
        </div>
      </div>
      <img class="info-img" src="../../../assets/images/pc-image.jpg" />
    </div>
  </section>
  <section class="func-section">
    <h1>Features</h1>
    <div class="functions-block">
      <div class="function-item">
        <h2>Effortless Auction Setup</h2>
        <ul class="feature-list">
          <li>Quick setup with item details, starting prices, and images</li>
          <li>Manage multiple auctions seamlessly from one dashboard</li>
        </ul>
      </div>
      <div class="function-item">
        <h2>Live Bidding</h2>
        <ul class="feature-list">
          <li>Real-time updates for every new bid</li>
          <li>Notifications for outbids and auction close reminders</li>
        </ul>
      </div>
      <div class="function-item">
        <h2>Trustworthy Profiles</h2>
        <ul class="feature-list">
          <li>User profiles with ratings and reviews</li>
          <li>Transparent history of past bids and transactions</li>
          <li>Community-based reputation system for added trust</li>
        </ul>
      </div>
    </div>
  </section>
</div>
