<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
	<h2 class="modal-header">Update Account</h2>

	<form class="account-form" [formGroup]="accountForm" (ngSubmit)="saveLot()">
		<div class="account-form-input-group">
        	<label for="name">Name</label>
			<input
				class="form-input-green"
				id="name"
				formControlName="name"
			/>
      	</div>
        <div class="account-form-input-group">
        	<label for="name">Surname</label>
			<input
				class="form-input-green"
				id="surname"
				formControlName="surname"
			/>
      	</div>
        <div class="account-form-input-group">
        	<label for="name">DoB</label>
			<input
				class="form-input-green"
				id="birthday"
				formControlName="birthday"
			/>
      	</div>
        <div class="account-form-input-group">
        	<label for="name">Email</label>
			<input
				class="form-input-green"
				id="email"
				formControlName="email"
			/>
      	</div>
        <div class="account-form-input-group">
        	<label for="name">Gender</label>
			<input
				class="form-input-green"
				id="gender"
				formControlName="gender"
			/>
      	</div>
		<div class="button-group">
			<button class="button-green" [disabled]="!accountForm.valid">
			Save
			</button>
			<button class="button-green" type="button" (click)="closeModal()">
			Cancel
			</button>
		</div>
    </form>
  </div>
</div>