<div class="wrapper">
  <div class="auctions-block">
    <div>
      <div class="heading">
        <h1>Auctions</h1>
      </div>
      <div class="filter-block">
	      <form class="filter-form" [formGroup]="filterForm">
          <div class="form-group">
            <label>Search:</label>
            <input class="form-input-green"
                   formControlName="searchName"
                   placeholder="Enter auction name" />
          </div>
          <div class="form-group">
            <label>Status:</label>
            <select class="form-input-green" 
                    formControlName="filterStatus" >
              <div>
                <option>All</option>
                <option>Created</option>
                <option>Paused</option>
                <option>Started</option>
                <option>Ended</option>
              </div>
            </select>
          </div>
          <div class="form-group">
            <label for="sort-by">Order by:</label>
            <select name="sort-by" 
                    class="form-input-green"
                    formControlName="sortBy" >
              <div>
                <option>Name</option>
                <option>Date</option>
                <option>Duration</option>
              </div>
            </select>
          </div>
          <div class="form-group">
            <label for="sort-dir">Sort direction:</label>
            <select name="sort-dir" 
                    class="form-input-green"
                    formControlName="sortDir" >
              <div>
                <option>asc</option>
                <option>desc</option>
              </div>
            </select>
          </div>
          <div class="btn-group">
            <button class="button-green" type="reset">Reset</button>
          </div>
        </form>
      </div>
      <div class="auctions-list texture-background">
        @for(auction of processedAuctions(); track $index){
          <app-auction-card [auction]="auction"/>
        }
      </div>
    </div>
  </div>
</div>
