$main-color: #253B2D;
$main-color-hover: #395a45;
$main-color-active: #4d795d;
$main-color-active-dark: #33523e;
$accent-color: #E98A15;
$accent-color-hover: #BF7111;
$text-white: #E9F1F7;
$text-black: #131619;
