@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body,
app-root {
  background-color: $text-white;
  display: flex;
  flex-direction: column;
  min-height: 112vh;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 44px;
  font-weight: 300;
  line-height: 0.9;
  letter-spacing: -1.5px;
  word-spacing: 7px;
}

.button-green {
  background-color: #355541;
  border-radius: 8px;
  padding: 8px 15px;
  border: none;
  color: $text-white;
}

.button-green:hover:enabled {
  cursor: pointer;
  background-color: #40664e;
}

.button-green:active:enabled {
  background-color: #33523e;
}

.form-input-green {
  background-color: #355541;
  border: 0;
  font-weight: 300;
  border-radius: 8px;
  padding: 8px 15px;
  font-size: 20px;
  color: $text-white;
  letter-spacing: 1.5px;
}

.form-input-green::placeholder {
  color: #cccccc;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.texture-background {
  background-color: $text-white;
  background-image: url("https://www.transparenttextures.com/patterns/cream-dust.png");
}

.screen{
  min-height: 100vh;
}
