<div class="account-auctions-tables-wrapper">
    <div class="account-auctions-table-wrapper">
        <div class="account-auction-table-heading-block">
            <h2 class="account-auctions-table-heading">Owned Auctions</h2>
            <button class="create-auction-btn"
                    (click)="openAuctionModal()">+</button>
        </div>
        <table class="account-auctions-table">
            <thead class="account-auctions-table-header">
                <th class="account-auctions-table-column-header center">Auction name</th>
                <th class="account-auctions-table-column-header center">Status</th>
                <th class="account-auctions-table-column-header center"></th>
            </thead>
            <tbody>
                @for(auction of ownedAuctions(); track auction.id){
                    <tr>
                        <td class="account-auctions-table-cell">{{ auction.name }}</td>
                        <td class="account-auctions-table-cell center">{{ auction.status }}</td>
                        <td class="account-auctions-table-cell block">
                            <button (click)="editAuction()">Edit</button>
                            <button (click)="onOwnedAuctionDelete(auction.id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="account-auctions-table-wrapper">
        <h2 class="account-auctions-table-heading">Participated Auctions</h2>
        <table class="account-auctions-table">
            <thead class="account-auctions-table-header">
                <th class="account-auctions-table-column-header center">Auction name</th>
                <th class="account-auctions-table-column-header center">Status</th>
                <th class="account-auctions-table-column-header"></th>
            </thead>
            <tbody>
                @for(auction of participatedAuctions(); track auction.id){
                    <tr>
                        <td class="account-auctions-table-cell">{{ auction.name }}</td>
                        <td class="account-auctions-table-cell center">{{ auction.status }}</td>
                        <td class="account-auctions-table-cell block">
                            <button (click)="onParticipatedAuctionLeave(auction.id)">Leave</button>
                        </td>
                    <tr>
                }
            </tbody>
            
        </table>
    </div>

    @if(isModalVisible){
        <app-auction-form-modal (close)="hideAuctionModal()"/>
    }

</div>