<div class="account-auctions-tables-wrapper">
    <div class="account-auctions-table-wrapper">
        <div class="account-auction-table-heading-block">
            <h2 class="account-auctions-table-heading">Owned Auctions</h2>
            <button class="create-auction-btn"
                    (click)="openAuctionModal()">
                <app-icon name="add" [color]="Color.TEXT_WHITE" [size]="24"></app-icon>
            </button>
        </div>
        <table class="account-auctions-table">
            <thead class="account-auctions-table-header">
                <th class="account-auctions-table-column-header center">Auction name</th>
                <th class="account-auctions-table-column-header center">Status</th>
                <th class="account-auctions-table-column-header center">
                </th>
            </thead>
            <tbody>
                @for(auction of ownedAuctions(); track auction.id){
                    <tr>
                        <td class="account-auctions-table-cell">{{ auction.name }}</td>
                        <td class="account-auctions-table-cell center">{{ auction.status }}</td>
                        <td class="account-auctions-table-cell">
                            <div class="icon-block">
                                <button class="icon-button" (click)="editAuction(auction.id)">
                                    <app-icon name="edit" [color]="Color.TEXT_WHITE" [size]="24"></app-icon>
                                </button>
                                <button class="icon-button" (click)="onOwnedAuctionDelete(auction.id)">
                                    <app-icon name="delete" [color]="Color.TEXT_WHITE" [size]="24"></app-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="account-auctions-table-wrapper">
        <h2 class="account-auctions-table-heading">Participated Auctions</h2>
        <table class="account-auctions-table">
            <thead class="account-auctions-table-header">
                <th class="account-auctions-table-column-header center">Auction name</th>
                <th class="account-auctions-table-column-header center">Status</th>
                <th class="account-auctions-table-column-header"></th>
            </thead>
            <tbody>
                @for(auction of participatedAuctions(); track auction.id){
                    <tr>
                        <td class="account-auctions-table-cell">{{ auction.name }}</td>
                        <td class="account-auctions-table-cell center">{{ auction.status }}</td>
                        <td class="account-auctions-table-cell">
                            <div class="icon-block">
                                <button class="icon-button" (click)="onParticipatedAuctionLeave(auction.id)">
                                    <app-icon name="leave" [color]="Color.TEXT_WHITE" [size]="24"></app-icon>
                                </button>
                            </div>
                        </td>
                    <tr>
                }
            </tbody>
            
        </table>
    </div>

    @if(isModalVisible){
        <app-auction-form-modal [accountId]="accountId" (close)="hideAuctionModal()" (save)="loadOwnedAuctions()"/>
    }

</div>