footer {
  width: 100%;
  height: 12vh;
  background-color: #131619;
  padding-top: 20px;
  color: #E9F1F7;
  text-align: center;
  gap: 15px;
  align-items: center;
  flex-direction: column;
  display: flex;
}

footer .copyright {
  font-size: 0.9rem;
  color: #b1b2b3;
}

footer ul.social-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

footer li.link a {
  color: #E9F1F7;
  font-size: 1rem;
}

footer li.link a:hover {
  text-decoration: underline;
}