<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
	<h2>Create auction</h2>

	<form class="login-form" [formGroup]="auctionForm" (ngSubmit)="saveAuction()">
		<div class="login-form-input-group">
        	<label for="name">Name</label>
			<input
				class="form-input-green"
				id="name"
				formControlName="name"
			/>
      	</div>
		<div class="login-form-input-group">
			<label for="description">Description</label>
			<input
				class="form-input-green"
				id="description"
				formControlName="description"
			/>
		</div>
		<div class="login-form-input-group">
			<label for="startTimestamp">Start Time</label>
			<input
				class="form-input-green"
				id="startTimestamp"
				formControlName="startTimestamp"
			/>
		</div>
		<div class="login-form-input-group">
			<label for="duration">Duration</label>
			<input
				class="form-input-green"
				id="duration"
				type="duration"
				formControlName="duration"
			/>
		</div>
		<div class="button-group">
			<button class="button-green">
			Save
			</button>
			<button class="button-green" type="button" (click)="closeModal()">
			Cancel
			</button>
		</div>
    </form>
  </div>
</div>